name: CI
on:
  pull_request:
    branches: ['**']
  push:
    branches: ['**']
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bazel output cache
        id: cache-bazel
        uses: actions/cache@v3
        with:
          path: |
            "${{ github.workspace }}/.bazel-cache"
          key: ${{ runner.os }}-bazel-out-${{ github.run_id}}
          restore-keys: |
            ${{ runner.os }}-bazel-out-
      - name: Configure bazel config for actions
        run: |
          echo "build --config github_actions" > user.bazelrc
          echo "build --disk_cache ${{ github.workspace }}/.bazel-cache/disk-cache" >> user.bazelrc
          echo "build --repository_cache ${{ github.workspace }}/.bazel-cache/repo-cache" >> user.bazelrc
      - name: run tests
        run: |
          ./bazel build //...
          ./bazel test --test_output=errors //... --test_env=COURSIER_CACHE="${{ github.workspace }}/.coursier-cache"
          ./bazel run //:parse -- generate -r `pwd` -s 3rdparty/workspace.bzl -d dependencies.yaml -t 3rdparty/target_file.bzl -p pom.xml --check-only